node_modules
nodejs-assets/*
ios/*
android/*
!.eslintrc.js
metro.config.js
postinstall.js
__mocks__/**
coverage
rn-setup.js

src/utils/backup/protos

# E2E test files with ESLint parser issues
e2e/backup-restore.e2e.js
e2e/force-close.e2e.js
e2e/network-graph.e2e.js  
e2e/payments.e2e.js
